<h1>Usuarios</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Titulo</th>
            <th>C.I</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Códigos Libros</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.ci}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.code_book}}</td>
            <td>{{user.state}}</td>
            <td>
              <a class="btn btn-primary btn-sm" routerLink="/signup/{{user.id}}">Editar</a>
              <a class="btn btn-danger btn-sm" (click)="delete(user.id)">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table><br><br>
